
/* reset */

ul, li,  h1, h2, h3, p {
	
	/* reset	*/
	margin: 0;
	padding: 0;
	list-style: none;
}


* {
	box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  color: #4D4D48;
}

html {
	background-color: #43EAE3;
}

body {
	margin:0;
}


header {
  
	position:fixed;
  z-index: 1;
	top:0;
	padding: 15px 0;
	
	width: 100%;
	
  text-align: center;
  
	background-color: #FCFC00;
}

nav ul {
	
	display: flex;
	justify-content: center;
  align-items: center;	
}

nav ul li a {
	display: inline-block; 
	padding: 10px 20px;
  
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
   
  margin-top: 20px;
}

/* nav ul li a:hover {
  background-color: bisque;
} */

section {
	width: 100%;
	min-height: 100vh;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
  
  padding-top: 100px;
}

section#slider {
  background: url(images/miranda.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  
  opacity: 0.5;
}
section#about {
	background-color: #96FCD8;
}

#about {
	padding: 0 20%;
}

section#skills {
  background-color: #69B29C;
  text-align: center;
}

 /*contact   */

#contact div{
    max-width: 500px;
}

#contact ul li {
	display: inline-block; 
	padding-right: 10px;
}

.social img {
  width: 60%;
  opacity: 0.6;
}

.social img:hover {
  opacity: 1;
}

#contact p em {
  color: #f40cee;
}

footer {
  background-color: yellow;
  
  width: 100%;
  height:100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* typography */

header h1 {
	font-size: 48px;
}

header h1 a {
  text-decoration: none;
}

header h2 {
  font-size: 28px;
}

#about p {
  font-size: 60px;
  line-height: 1.5;
  text-align: center;
}

#contact p {
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 50px;
}

#contact address p {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.3;
}

h2 {
  color: #f40cee;
  text-align: center;
}

section h2 {
  font-size: 32px;
  text-transform: uppercase;
}

#slider h3 {
  color: #FCFC00;
  font-size: 140px;
  margin-bottom: 30px;
}

#skills h3 {
  font-size: 90px;
  color: #96FCD8;
  line-height: 1.1;
  margin-bottom: 30px;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #f40cee;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


/* media screens  */
@media screen and (max-width: 980px) {
    #about p {
    font-size: 42px;
    line-height: 1.5;
  }
  
  #slider h3 {
    font-size: 90px;
  }
  
   #skills h3 {
    font-size: 70px;
  }
}

@media screen and (max-width: 600px) {
    #about p {
    font-size: 38px;
    line-height: 1.5;
  }
  
  #contact div{
    max-width: 400px;
}
   #slider h3 {
    font-size: 90px;
  }
  #skills h3 {
    font-size: 52px;
  }
}


