
/* reset */

ul, li,  h1, h2, p {
	
	/* reset	*/
	margin: 0;
	padding: 0;
	list-style: none;
}


* {
	box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  color: #4D4D48;
}

html {
	background-color: #43EAE3;
}

body {
	margin:0;
}


header {
  
	position:fixed;
  z-index: 1;
	top:0;
	padding: 15px 0;
	
	width: 100%;
	
  text-align: center;
  
	background-color: #FCFC00;
}

nav ul {
	
	display: flex;
	justify-content: center;
  align-items: center;	
}

nav ul li a {
	display: inline-block; 
	padding: 10px 20px;
  
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
   
  margin-top: 20px;
}

nav ul li a:hover {
	background-color: bisque;
}

section {
	width: 100%;
	min-height: 100vh;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
  
  padding-top: 100px;
}

section:nth-child(even) {
	background-color: #96FCD8;
}

section#slider {
  background: url(images/miranda.jpg) no-repeat;
  background-size: cover;
  
  opacity: 0.4;

}

section div {
  max-width: 500px;
}

#about div {
	max-width: 1200px;
  text-align: center;
}


 /*contact   */


#contact ul li {
	display: inline-block; 
	padding-right: 10px;
}

.social img {
  width: 60%;
}

#contact p em {
  color: #E86FED;
}



footer {
  background-color: yellow;
  
  width: 100%;
  height:100px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}


/* typography */

header h1 {
	font-size: 48px;
}

header h2 {
  font-size: 28px;
}

#about p {
  font-size: 60px;
  line-height: 1.5;
}

#contact p {
  font-size: 28px;
  line-height: 2;
  margin-bottom: 30px;
}

#contact address p {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.3;
}

h2 {
  color: #E86FED;
  text-align: center;
}

section h2 {
  font-size: 32px;
  text-transform: uppercase;
}

